<!-- home.html -->
{% extends "_base.html" %}
{% load static %}


{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="space-y-12">
    <input type="file" name="files" multiple required>
    <br><br>
    <div class="border-b border-gray-900/10 pb-12">
      <div>
        <label for="path">Destination:</label>
        <input type="text" name="path" id="path" required>
      </div>
      <br>
      <div>
        <label for="keyword1">Mot clé 1:</label>
        <input type="text" name="keywords[]" id="keyword1" required>
        <label for="coefficient1">Coefficient:</label>
        <input type="number" name="coefficients[]" id="coefficient1" value="1" min="1" required>
      </div>
      <br>
      <div>
        <label for="keyword2">Mot clé 2:</label>
        <input type="text" name="keywords[]" id="keyword2" required>
        <label for="coefficient2">Coefficient:</label>
        <input type="number" name="coefficients[]" id="coefficient2" value="1" min="1" required>
      </div>
      <br>
      <div>
        <label for="keyword3">Mot clé 3:</label>
        <input type="text" name="keywords[]" id="keyword3" required>
        <label for="coefficient3">Coefficient:</label>
        <input type="number" name="coefficients[]" id="coefficient3" value="1" min="1" required>
      </div>
      <br>
      <div>
        <label for="keyword3">Bonus 1:</label>
        <input type="number" name="bonus[]" id="bonus1" value="0" min="0"  required>
        <label for="bonus2">Bonus 2:</label>
        <input type="number" name="bonus[]" id="bonus2" value="5" min="0" required>
        <label for="bonus2">Bonus 3:</label>
        <input type="number" name="bonus[]" id="bonus3" value="10" min="0" required>
      </div>

      <br>
      <div>
        <label for="limit">Limite:</label>
        <input type="number" name="limit" id="limit" value="500" min="1"  required>
      </div>
</div>
</div>
<div class="mt-6 flex items-center justify-end gap-x-6">
  <button style="background: blue; color: white;" type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Rechercher</button>
</div>
</form>

<style>
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  </style>

{% if file_names %}
  <h3>Résultat:</h3>
  <button id="export-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Export
  </button>
    
  <table id="customers">
    <thead>
      <tr>
        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">Fichier</th>

        {% for keyword in keywords %}
          <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">{{keyword}}</th>
        {% endfor %}
        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">Bonus</th>
        
        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">Total</th>
        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">Salarié</th>
        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">Groupes</th>
      </tr>
    </thead>
    <tbody>
      {% for file_name in file_names %}
        <tr>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"><a target="_blank" href="{{file_name.path}}">{{ file_name.file }}</a></td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ file_name.keyword1_total }}</td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ file_name.keyword2_total }}</td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ file_name.keyword3_total }}</td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ file_name.bonus }}</td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ file_name.total }}</td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ file_name.person }}</td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ file_name.groups }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <script>
    document.getElementById('export-btn').addEventListener('click', function () {
      // Loop over the table rows and extract data to create a JSON array
      var customersData = [];
      var tableHead = document.querySelectorAll('#customers thead tr');
      var tableRows = document.querySelectorAll('#customers tbody tr');

      tableRows.forEach(function (row) {
        var linkElement = row.cells[0].querySelector('a');
        var link = linkElement.href;
        console.log("link = ", row.cells);
        var data = {
          file: row.cells[0].textContent.trim(),
          keyword1_total: parseInt(row.cells[1].textContent.trim()),
          keyword2_total: parseInt(row.cells[2].textContent.trim()),
          keyword3_total: parseInt(row.cells[3].textContent.trim()),
          bonus: row.cells[4].textContent.trim(),
          total: parseInt(row.cells[5].textContent.trim()),
          path: link,
          groups: row.cells[7].textContent.trim(),
        };
        customersData.push(data);
      });

      tableHead.forEach(function (row) {
        var data = {
          keyword1: row.cells[1].textContent.trim(),
          keyword2: row.cells[2].textContent.trim(),
          keyword3: row.cells[3].textContent.trim(),
        };
        customersData.push(data);
      })

      // Create a new hidden form element to send the data to the view
      var form = document.createElement('form');
      form.method = 'POST';  // Use POST method for large data
      form.action = "{% url 'export_excel' %}";
      form.style.display = 'none';

      // Add the customersData to the form as a hidden input field
      var input = document.createElement('input');
      input.type = 'hidden';
      input.name = 'customers_data';
      input.value = JSON.stringify(customersData);
      form.appendChild(input);

      // Append the form to the document and submit it
      document.body.appendChild(form);
      form.submit();
    });
  </script>
{% endif %}
{% endblock content %}